networks:
  overlay:

services:
  web:
    image: 'nginx'
    ports:
      - '8089:80'
    networks:
      - overlay
        #    environment:
        #      - VIRTUAL_HOST=web.${MY_DOMAIN}
        #      - VIRTUAL_PORT=8081
        #      - NGINX_HOST=web.${MY_DOMAIN}
        #    volumes:
        #      - web_data:/usr/share/nginx/html
        #    depends_on:
        #      - nginx-proxy

  hawser:
    #image: 'fnsys/hawser:latest'
    image: 'ghcr.io/finsys/hawser:latest'
    networks:
      - overlay
    container_name: hawser_edge
    restart: unless-stopped
    environment:
      - DOCKHAND_SERVER_URL=wss://dockhand.dev.tcrow.io/api/hawser/connect
      - TOKEN=$HAWSER_TOKEN
        #- TOKEN=RNz60-G-CSN5W7IeH-8CPzuA2J0KVXXA1Ejdmfh0OJs
      - AGENT_NAME=br-server
        #- LOG_LEVEL=debug
    secrets:
      - hawser_token
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

secrets:
  hawser_token:
    file: ./.env
