services:
#  postgresql:
#    image: 'bitnamilegacy/postgresql'
#    restart: unless-stopped
#    networks:
#      - overlay
#    environment:
#      - ALLOW_EMPTY_PASSWORD=yes
#      - POSTGRESQL_USERNAME=bn_redmine
#      - POSTGRESQL_DATABASE=bitnami_redmine
#    volumes:
#      -  postgresql_data:/bitnami/postgresql
#
#  redmine:
#    image: 'br_redmine'
#    #image: 'bitnamilegacy/redmine'
#    restart: unless-stopped
#    ports:
#      - '3001:3000'
#    networks:
#      - overlay
#    environment:
#      - ALLOW_EMPTY_PASSWORD=yes
#      - REDMINE_DATABASE_TYPE=postgresql
#      - REDMINE_DATABASE_HOST=postgresql
#      - REDMINE_DATABASE_PORT_NUMBER=5432
#      - REDMINE_DATABASE_USER=bn_redmine
#      - REDMINE_DATABASE_NAME=bitnami_redmine
#      #- REDMINE_DATABASE_PASSWORD=bitnami
#    volumes:
#      #- redmine_data:/usr/src/redmine/files
#      - ./redmine_data:/bitnami/redmine
#    depends_on:
#      - postgresql
#
  mariadb:
    image: 'mariadb:latest'
    restart: unless-stopped
    networks:
      - overlay
    environment:
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=yes
      #- MARIADB_PASSWORD=secret
      - ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_USER=bn_mediawiki
      #- MARIADB_USER=bn_mediawiki
      - MYSQL_DATABASE=bitnami_mediawiki
      #- MARIADB_DATABASE=bitnami_mediawiki
    volumes:
      - mariadb_data:/bitnami/mariadb

      
  mediawiki:
    image: 'bitnamilegacy/mediawiki-archived'
    restart: unless-stopped
    ports:
      - '8082:8080'
    networks:
      - overlay
    environment:
      - MEDIAWIKI_DATABASE_HOST=mariadb
      - MEDIAWIKI_DATABASE_PORT_NUMBER=3306
      #- MEDIAWIKI_DATABASE_PASSWORD=secret
      - MEDIAWIKI_DATABASE_USER=bn_mediawiki
      - MEDIAWIKI_DATABASE_NAME=bitnami_mediawiki
      - ALLOW_EMPTY_PASSWORD=yes
      - MEDIAWIKI_HOST=wiki.dev.tcrow.io
      - MEDIAWIKI_WIKI_NAME=BR_Wiki
    volumes:
      - ./mediawiki_data:/bitnami/mediawiki
    depends_on:
      - mariadb

       
#  jupyter:
#    image: 'jupyter/scipy-notebook'
#    restart: unless-stopped
#    ports:
#      - '8888:8888'
#    networks:
#      - overlay
#    environment:
#      - MY_DOMAIN
#      - VIRTUAL_HOST=jhub.${MY_DOMAIN}
#      - VIRTUAL_PORT=8888
#    volumes:
#      - jupyter_data:/home/jovyan/work
#    #depends_on:
#    #  - nginx-proxy
#    entrypoint: ["start.sh","jupyter", "lab"]
        
#  web:
#    image: 'nginx:latest'
#    ports:
#      - '8081:80'
#    networks:
#      - overlay
#    environment:
#      - VIRTUAL_HOST=web.${MY_DOMAIN}
#      - VIRTUAL_PORT=8081
#      - NGINX_HOST=web.${MY_DOMAIN}
#    volumes:
#      - web_data:/usr/share/nginx/html
#    #depends_on:
#    #  - nginx-proxy

volumes:
  mariadb_data:
    driver: local
  mediawiki_data:
    driver: local
  postgresql_data:
    driver: local
  redmine_data:
    driver: local
  jupyter_data:
    driver: local
  nginx_data:
    driver: local
  web_data:
    driver: local

networks:
  overlay:
