networks:
  br_docker_overlay:
    name: br_docker_overlay
    external: true

services:
  mariadb:
    image: 'bitnamilegacy/mariadb:12.0.2-debian-12-r0'
    restart: unless-stopped

    #image: 'docker.io/bitnami/mariadb:10.3-debian-10'
    networks:
      - br_docker_overlay
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=bn_mediawiki
      - MARIADB_DATABASE=bitnami_mediawiki
    volumes:
      - mariadb_data:/bitnami/mariadb

  mediawiki:
    image: 'bitnamilegacy/mediawiki-archived'
    ports:
      - '8082:8080'
    networks:
      - br_docker_overlay
    environment:
      - MEDIAWIKI_DATABASE_HOST=mariadb
      - MEDIAWIKI_DATABASE_PORT_NUMBER=3306
      - MEDIAWIKI_DATABASE_USER=bn_mediawiki
      - MEDIAWIKI_DATABASE_NAME=bitnami_mediawiki
      - ALLOW_EMPTY_PASSWORD=yes
      - MEDIAWIKI_HOST=wiki.br.hsa.ca
      - MEDIAWIKI_WIKI_NAME=BR_Wiki
    volumes:
      - mediawiki_data:/bitnami/mediawiki
    depends_on:
      - mariadb

volumes:
  mariadb_data:
    driver: local
  mediawiki_data:
    driver: local
