networks:
  br_docker_overlay:
    external: true  

services:
  postgresql:
    image: 'bitnamilegacy/postgresql'
    restart: unless-stopped
    networks:
      - br_docker_overlay
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - POSTGRESQL_USERNAME=bn_redmine
      - POSTGRESQL_DATABASE=bitnami_redmine
    volumes:
      -  postgresql_data:/bitnami/postgresql

  redmine:
    image: 'br_redmine'
    #image: 'bitnamilegacy/redmine'
    restart: unless-stopped
    ports:
      - '3002:3000'
    networks:
      - br_docker_overlay
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDMINE_DATABASE_TYPE=postgresql
      - REDMINE_DATABASE_HOST=postgresql
      - REDMINE_DATABASE_PORT_NUMBER=5432
      - REDMINE_DATABASE_USER=bn_redmine
      - REDMINE_DATABASE_NAME=bitnami_redmine
      #- REDMINE_DATABASE_PASSWORD=bitnami
    volumes:
      #- redmine_data:/usr/src/redmine/files
      - redmine_data:/bitnami/redmine
    depends_on:
      - postgresql

volumes:
 postgresql_data:
    driver: local
 redmine_data:
    driver: local

